body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 9%;
}

p{
    margin: 0px;
}
.box{
    display: flex;

   
    background-color: hsl(0, 0%, 100%);
    width: 515px;
    height: 350px;
    /* height:10%; */
    border-radius: 10px;
    /* overflow: hidden; */
}

.box img{
    height: 350px;
    width: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right{
    padding: 0px 30px;
}

.perfume{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 10px;
    margin-top: 29px;
    color: hsl(228, 12%, 48%);
}

.title{
    font-family: 'Fraunces', serif;
    font-size: 28px;
    line-height: 30px;
    color: hsl(212, 21%, 14%);
    margin-top: 10px;

}

.desc{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: hsl(228, 12%, 48%);
    margin-top: 19px;
}

.cost{
    display: flex;
}
.offer{
    color: hsl(158, 36%, 37%);
    font-size:25px;
    font-family: 'Fraunces', serif;
    margin-top: 9px;
}

.old
{
    font-size: 14px;
    margin-top: 19px;
    margin-left: 20px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    
}

.btn{
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    height: 40px;
    margin-top: 19px;
    width: 200px;
    border:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover{
    background-color: green;
}

.btn img{
    height: 15px;
    width: 15px;
    padding-right: 5px;
    /* margin-right:5 px; */
    /* margin-top:5px; */
}
/* font-family: 'Fraunces', serif; */
/* font-family: 'Montserrat', sans-serif; */

